@model VHosting.User

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Nickname</h1>
<hr />
@if (this.User.IsInRole("Admin"))
{
    <h2>Admin`s stuff</h2>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Roles")'">Role manager</button>
    <hr />
}
<h2>My videos</h2>
<div class="row">
    @foreach(var vid in Model.Videos) {
        <div class="col-4">
            <h4>@vid.Name</h4>
            <p>@vid.Description</p>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Details", "Videos", new { Id = @vid.Id })'">See now</button>
        </div>
    }
     <div class="col">
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Videos")'">Add video</button>
     </div>
</div>
<hr />

<style>
    .col-4 {
        background: #fadab4;
        border: 2px solid black;
    }

    .col-4:hover {
        transform: scale(1.1);
    }
</style>


<div>
    <h3>Import excel with playlists (DO IT ONLY IF YOU KNOW HOW IT WORKS)</h3>
    @using (Html.BeginForm("Import", "Users", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Download Excel:
            <input type="file" name="fileExcel" id="fileExcel" style="display: inline;" />
            <button class="btn btn-primary" type="submit">Import</button>
        </div>
    }
</div>
<div>
    <h3>Export info</h3>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Export", "Users")'">Export</button>
</div>
<hr />


<div class="container">
    <div id="chart1"></div>
</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Chart/JsonData', function(JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "Watching your videos",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}