@model VHosting.User

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Nickname</h1>
<hr />
<h2>My videos</h2>
<div class="row">
    @foreach(var vid in Model.Videos) {
        <div class="col-4">
            <h4>@vid.Name</h4>
            <p>@vid.Description</p>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Details", "Videos", new { Id = @vid.Id })'">See now</button>
        </div>
    }
</div>
<hr />

<style>
    .col-4 {
        background: #fadab4;
        border: 2px solid black;
    }

    .col-4:hover {
        transform: scale(1.1);
    }
</style>


<div>
    <h3>Оберіть exel-файл для заватаження</h3>
    @using (Html.BeginForm("Import", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Завантажте Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel" />
            <div>
                <input type="submit" value="Завантажити" />
            </div>
        </div>
    }
</div>
<div>
    <h3>Завантаження інформації в файл</h3>
    <a asp-action="Export"> Завантажити </a>
</div>
<hr />
<div class="container">
    <div id="chart1"></div>
</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Chart/JsonData', function(JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "Watching your videos",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}